/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #8a8a8a;
}

h1,
h2,
h3,
h4{
    font-weight: 500;
}

/* UTILIETIES */
.container{
    width: 1000px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.w-50{
    width: 50%;
}

.relative{
    position: relative;
}

.y-centre{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.xy-centre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    display: inline-block;
    min-width: 100px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
}

.btn-green{
    background-color: #7cbb01;
    color: white;
    border: 1px solid transparent;
}

/* HEADER */
header{
    background-color: #0d325a;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header .container section{
    float:left;
    font-size: 11px;
}

/* LOGO SECTION */
header .logo{
    width: 15%;
}

.logo img{
    vertical-align: middle;
}

/* NAV GENERAL*/
header nav ul li{
    display: inline-block;
    line-height: 50px;
    text-transform: uppercase;
    list-style: none;
    color: white;
}

header nav a{
    text-decoration: none;
}

/* NAV CENTRE */
header .navcentre{
    width: 45%;
}

header .navcentre li{
    margin-right: 12px;
}

header .navcentre a:last-child li{
    margin-right: 0;
}

/* NAV RIGHT */
header .navright{
    width: 40%;
    text-align: right;
}

header .navright a{
    margin-left:20px;
}

header .navright a:first-child{
    margin-left:0;
}

a.btn > li{
    line-height: 1;
}

header .navright ul a:nth-child(2):hover{
    background-color: rgba(0, 0, 0, 0.7);
}

header .navright ul a:last-child:hover{
    background-color: rgba(124, 187, 1, 0.80);
}

/* MAIN */

/* HERO SECTION */
.hero{
    height: 500px;
    background-color: #0d325a;
    background-image: url("../img/background-header.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 110% 110%;
}

.hero .container{
    height: 100%;
}

.hero .content-hero{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero h1{
    font-size: 46px;
    color: white;
    margin-bottom: 20px;
}

.content-hero a:hover{
    background-color: rgba(124, 187, 1, 0.80);
}

/* INTRODUCTION SECTION */

.introduction{
    height: 100px;
    padding:20px;
    background-color: #d3d3d3;
}

.introduction h3{
    font-size: 23px;
    color:black;
    margin-bottom: 10px;
}

/* TEACHING PROGRAM SECTION*/
.teaching-program{
    text-align: center;
}
.teaching-program section{
    float:left;
    width: calc(100% / 3);
    margin-top: 20px;
    padding: 10px;
}

.teaching-program img{
    max-height: 150px;
}

.teaching-program h3{
    font-size: 23px;
    color:#7cbb01;
}

.teaching-program section hr{
    display: inline-block;
    border-color: #cecece;
    width: 20%;
    margin: 20px 0;
}

.teaching-program p{
    font-size: 15px;
}

.teaching-program > hr{
    display: inline-block;
    border-color: #cecece;
    width: 98%;
    margin: 25px 0;
}

/* LEVEL SECTION */

section.level > div{
    float:left;
}

/* LEVEL IMG */
.level .level-img img{
    max-height: 350px;
}

/* LEVEL CONTENT */
.level .level-content{
    padding: 0px 50px;
}

.level .level-content h2{
    color:black;
    font-size: 25px;
    margin-bottom: 10px;
}

.level .level-content p{
    font-size: 15px;
    margin-bottom: 10px;
}

.level .level-content a{
    font-size: 12px;
    color: #5888bd;
}

/* FOOTER */
footer{
    margin-top: 20px;
    height:120px;
    background-color: #d3d3d3;
}

footer .container{
    height: 100%;
}

.your-plan{
    float: left;
    width: 60%;
    line-height: 120px;
}

footer h2{
    font-size: 25px;
    color: black;
}

.form-plan{
    float: left;
    width: 40%;
    line-height: 120px;
    text-align: right;
}

.form-plan select{
    background-color: transparent;
    width: 150px;
    font-size: 15px;
    border:none;
    border-bottom: 1px solid #8a8a8a;
    margin: 0 20px;
    cursor: pointer;
}

.form-plan select option{
    background-color:  #d3d3d3;
}

.form-plan > .btn{
    font-size: 11px;
    padding: 18px 8px;
    line-height: 1;
}

.form-plan > .btn:hover{
    background-color: rgb(33, 160, 8);
}

/* HELP BUTTON */
.help{
    position: fixed;
    bottom:0;
    right: 20%;
    font-size: 11px;
    min-width: 15px;
    border-radius: 5px 5px 0 0;
    z-index: 9;
}

.help:hover{
    font-size: 16px;
}